<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <dict>
          <key>id</key>
          <string>1</string>
          <key>english</key>
          <string>Who are you</string>
          <key>message</key>
          <string>你是谁</string>
          <key>type</key>
          <string>1</string>
    </dict>
    <dict>
          <key>id</key>
          <string>2</string>
          <key>english</key>
          <string>Are you there</string>
          <key>message</key>
          <string>你在吗？</string>
          <key>type</key>
          <string>1</string>
    </dict>
    <dict>
          <key>id</key>
          <string>3</string>
          <key>english</key>
          <string>Hello, meet you.</string>
          <key>message</key>
          <string>你好，认识一下</string>
          <key>type</key>
          <string>1</string>
    </dict>
    <dict>
          <key>id</key>
          <string>4</string>
          <key>english</key>
          <string>Do you have a picture?</string>
          <key>message</key>
          <string>有照片吗？</string>
          <key>type</key>
          <string>1</string>
    </dict>
    <dict>
          <key>id</key>
          <string>5</string>
          <key>english</key>
          <string>Well</string>
          <key>message</key>
          <string>嗯</string>
          <key>type</key>
          <string>1</string>
    </dict>
    <dict>
          <key>id</key>
          <string>6</string>
          <key>english</key>
          <string>Ha-ha</string>
          <key>message</key>
          <string>哈哈</string>
          <key>type</key>
          <string>1</string>
    </dict>
    <dict>
          <key>id</key>
          <string>7</string>
          <key>english</key>
          <string>??</string>
          <key>message</key>
          <string>？？</string>
          <key>type</key>
          <string>1</string>
    </dict>
    <dict>
          <key>id</key>
          <string>8</string>
          <key>english</key>
          <string>Is there anything to do</string>
          <key>message</key>
          <string>有事吗</string>
          <key>type</key>
          <string>1</string>
    </dict>
    <dict>
          <key>id</key>
          <string>9</string>
          <key>english</key>
          <string>Where are you, please</string>
          <key>message</key>
          <string>请问你是哪里的</string>
          <key>type</key>
          <string>1</string>
    </dict>
    <dict>
          <key>id</key>
          <string>10</string>
          <key>english</key>
          <string>I&apos;m sorry I&apos;m busy right now</string>
          <key>message</key>
          <string>对不起 我现在很忙</string>
          <key>type</key>
          <string>1</string>
    </dict>
    <dict>
          <key>id</key>
          <string>11</string>
          <key>english</key>
          <string>Hasn&apos;t got time</string>
          <key>message</key>
          <string>没时间</string>
          <key>type</key>
          <string>1</string>
    </dict>
    <dict>
          <key>id</key>
          <string>12</string>
          <key>english</key>
          <string>Do we know each other?</string>
          <key>message</key>
          <string>我们认识吗？</string>
          <key>type</key>
          <string>1</string>
    </dict>
    <dict>
          <key>id</key>
          <string>13</string>
          <key>english</key>
          <string>Want to chat and see sincerity</string>
          <key>message</key>
          <string>想聊天看诚意</string>
          <key>type</key>
          <string>1</string>
    </dict>
    <dict>
          <key>id</key>
          <string>14</string>
          <key>english</key>
          <string>Automatic reply: Send a photo to a gold coin</string>
          <key>message</key>
          <string>自动回复：发照片送金币才回复</string>
          <key>type</key>
          <string>1</string>
    </dict>
    <dict>
          <key>id</key>
          <string>15</string>
          <key>english</key>
          <string>I can take a reply to my travel accommodation</string>
          <key>message</key>
          <string>可以承担我旅游住宿的回复</string>
          <key>type</key>
          <string>1</string>
    </dict>
    <dict>
          <key>id</key>
          <string>16</string>
          <key>english</key>
          <string>Not chatting</string>
          <key>message</key>
          <string>不聊天</string>
          <key>type</key>
          <string>1</string>
    </dict>
    <dict>
          <key>id</key>
          <string>17</string>
          <key>english</key>
          <string>If you want to chat, please pay attention to me first</string>
          <key>message</key>
          <string>想聊天 请先关注我</string>
          <key>type</key>
          <string>1</string>
    </dict>
    <dict>
          <key>id</key>
          <string>18</string>
          <key>english</key>
          <string>Can you chat in Chinese?</string>
          <key>message</key>
          <string>可以用中文聊天吗？</string>
          <key>type</key>
          <string>1</string>
    </dict>
    <dict>
          <key>id</key>
          <string>19</string>
          <key>english</key>
          <string>I&apos;m not very good at foreign languages</string>
          <key>message</key>
          <string>我外语不太好</string>
          <key>type</key>
          <string>1</string>
    </dict>
    <dict>
          <key>id</key>
          <string>20</string>
          <key>english</key>
          <string>Do not understand</string>
          <key>message</key>
          <string>看不懂</string>
          <key>type</key>
          <string>1</string>
    </dict>
    <dict>
          <key>id</key>
          <string>21</string>
          <key>english</key>
          <string>Giving gifts.</string>
          <key>message</key>
          <string>送礼物</string>
          <key>type</key>
          <string>1</string>
    </dict>
    <dict>
          <key>id</key>
          <string>22</string>
          <key>english</key>
          <string>Can you show me your picture?</string>
          <key>message</key>
          <string>可以给我看看你的照片吗？</string>
          <key>type</key>
          <string>1</string>
    </dict>
    <dict>
          <key>id</key>
          <string>23</string>
          <key>english</key>
          <string>Where are you from?</string>
          <key>message</key>
          <string>你是哪国人？</string>
          <key>type</key>
          <string>1</string>
    </dict>
    <dict>
          <key>id</key>
          <string>24</string>
          <key>english</key>
          <string>Don&apos;t want to chat with the Japanese Koreans, thank you</string>
          <key>message</key>
          <string>不想和 日本人 韩国人 聊天 谢谢</string>
          <key>type</key>
          <string>1</string>
    </dict>
    <dict>
          <key>id</key>
          <string>25</string>
          <key>english</key>
          <string>Hello, I&apos;m glad you can talk to me</string>
          <key>message</key>
          <string>你好，很高兴你能和我聊天</string>
          <key>type</key>
          <string>1</string>
    </dict>
    <dict>
          <key>id</key>
          <string>26</string>
          <key>english</key>
          <string>Sorry to reply later</string>
          <key>message</key>
          <string>不好意思 稍后回复</string>
          <key>type</key>
          <string>1</string>
    </dict>
    <dict>
          <key>id</key>
          <string>27</string>
          <key>english</key>
          <string>A slow response to a time difference</string>
          <key>message</key>
          <string>有时差 回复慢</string>
          <key>type</key>
          <string>1</string>
    </dict>
    <dict>
          <key>id</key>
          <string>28</string>
          <key>english</key>
          <string>Thank you for your love</string>
          <key>message</key>
          <string>谢谢你喜欢我</string>
          <key>type</key>
          <string>1</string>
    </dict>
    <dict>
          <key>id</key>
          <string>29</string>
          <key>english</key>
          <string>Handsome guy</string>
          <key>message</key>
          <string>帅哥</string>
          <key>type</key>
          <string>1</string>
    </dict>
    <dict>
          <key>id</key>
          <string>30</string>
          <key>english</key>
          <string>Glad to meet you</string>
          <key>message</key>
          <string>很高兴认识你</string>
          <key>type</key>
          <string>1</string>
    </dict>
    <dict>
          <key>id</key>
          <string>31</string>
          <key>english</key>
          <string>Ha-ha</string>
          <key>message</key>
          <string>呵呵</string>
          <key>type</key>
          <string>1</string>
    </dict>
    <dict>
          <key>id</key>
          <string>32</string>
          <key>english</key>
          <string>I don&apos;t like you</string>
          <key>message</key>
          <string>我不喜欢你</string>
          <key>type</key>
          <string>1</string>
    </dict>
    <dict>
          <key>id</key>
          <string>33</string>
          <key>english</key>
          <string>I don&apos;t want to talk to you</string>
          <key>message</key>
          <string>我不想和你聊天</string>
          <key>type</key>
          <string>1</string>
    </dict>
    <dict>
          <key>id</key>
          <string>34</string>
          <key>english</key>
          <string>I don&apos;t want to know you</string>
          <key>message</key>
          <string>我不想认识你</string>
          <key>type</key>
          <string>1</string>
    </dict>
    <dict>
          <key>id</key>
          <string>35</string>
          <key>english</key>
          <string>Let me alone</string>
          <key>message</key>
          <string>别理我</string>
          <key>type</key>
          <string>1</string>
    </dict>
    <dict>
          <key>id</key>
          <string>36</string>
          <key>english</key>
          <string>Don&apos;t talk to me</string>
          <key>message</key>
          <string>别和我说话</string>
          <key>type</key>
          <string>1</string>
    </dict>
    <dict>
          <key>id</key>
          <string>37</string>
          <key>english</key>
          <string>Say no to stranger</string>
          <key>message</key>
          <string>不和陌生人说话</string>
          <key>type</key>
          <string>1</string>
    </dict>
    <dict>
          <key>id</key>
          <string>38</string>
          <key>english</key>
          <string>Why do you find me, you can make an appointment with other girls</string>
          <key>message</key>
          <string>干嘛找我，你可以约别的女孩啊</string>
          <key>type</key>
          <string>1</string>
    </dict>
    <dict>
          <key>id</key>
          <string>39</string>
          <key>english</key>
          <string>Is this your opening statement</string>
          <key>message</key>
          <string>这是你的开场白吗</string>
          <key>type</key>
          <string>1</string>
    </dict>
    <dict>
          <key>id</key>
          <string>40</string>
          <key>english</key>
          <string>Do you often talk to girls like this?</string>
          <key>message</key>
          <string>你经常这样跟女生说话吗？</string>
          <key>type</key>
          <string>1</string>
    </dict>
    <dict>
          <key>id</key>
          <string>41</string>
          <key>english</key>
          <string>I like a mature man. Are you mature</string>
          <key>message</key>
          <string>我喜欢成熟的男人，你成熟吗</string>
          <key>type</key>
          <string>1</string>
    </dict>
    <dict>
          <key>id</key>
          <string>42</string>
          <key>english</key>
          <string>I like small fresh meat, you are, don&apos;t ignore me.</string>
          <key>message</key>
          <string>我喜欢小鲜肉，你是吗，不是别理我。</string>
          <key>type</key>
          <string>1</string>
    </dict>
    <dict>
          <key>id</key>
          <string>43</string>
          <key>english</key>
          <string>A bit busy</string>
          <key>message</key>
          <string>有点忙</string>
          <key>type</key>
          <string>1</string>
    </dict>
    <dict>
          <key>id</key>
          <string>44</string>
          <key>english</key>
          <string>Sorry, there&apos;s something to do.</string>
          <key>message</key>
          <string>不好意思，有事。</string>
          <key>type</key>
          <string>1</string>
    </dict>
    <dict>
          <key>id</key>
          <string>45</string>
          <key>english</key>
          <string>Wait for a chat</string>
          <key>message</key>
          <string>待会聊</string>
          <key>type</key>
          <string>1</string>
    </dict>
    <dict>
          <key>id</key>
          <string>46</string>
          <key>english</key>
          <string>goods not original</string>
          <key>message</key>
          <string>二货</string>
          <key>type</key>
          <string>1</string>
    </dict>
    <dict>
          <key>id</key>
          <string>47</string>
          <key>english</key>
          <string>...</string>
          <key>message</key>
          <string>…</string>
          <key>type</key>
          <string>1</string>
    </dict>
    <dict>
          <key>id</key>
          <string>48</string>
          <key>english</key>
          <string>Take a picture of it</string>
          <key>message</key>
          <string>发张照片看看</string>
          <key>type</key>
          <string>1</string>
    </dict>
    <dict>
          <key>id</key>
          <string>49</string>
          <key>english</key>
          <string>Hahaha, I&apos;m going to play games</string>
          <key>message</key>
          <string>哈哈哈哈，我要玩游戏了</string>
          <key>type</key>
          <string>1</string>
    </dict>
    <dict>
          <key>id</key>
          <string>50</string>
          <key>english</key>
          <string>I&apos;m going to take a bath</string>
          <key>message</key>
          <string>我要去洗澡了</string>
          <key>type</key>
          <string>1</string>
    </dict>
    <dict>
          <key>id</key>
          <string>51</string>
          <key>english</key>
          <string>I&apos;m going to bed</string>
          <key>message</key>
          <string>我要睡觉了</string>
          <key>type</key>
          <string>1</string>
    </dict>
    <dict>
          <key>id</key>
          <string>52</string>
          <key>english</key>
          <string>Go shopping</string>
          <key>message</key>
          <string>在逛街</string>
          <key>type</key>
          <string>1</string>
    </dict>
    <dict>
          <key>id</key>
          <string>53</string>
          <key>english</key>
          <string>To meet a meeting</string>
          <key>message</key>
          <string>要开会</string>
          <key>type</key>
          <string>1</string>
    </dict>
    <dict>
          <key>id</key>
          <string>54</string>
          <key>english</key>
          <string>????</string>
          <key>message</key>
          <string>？？？</string>
          <key>type</key>
          <string>1</string>
    </dict>
    <dict>
          <key>id</key>
          <string>55</string>
          <key>english</key>
          <string>Ha ha ha</string>
          <key>message</key>
          <string>哈哈哈</string>
          <key>type</key>
          <string>1</string>
    </dict>
    <dict>
          <key>id</key>
          <string>56</string>
          <key>english</key>
          <string>Byebye</string>
          <key>message</key>
          <string>byebye</string>
          <key>type</key>
          <string>1</string>
    </dict>
    <dict>
          <key>id</key>
          <string>57</string>
          <key>english</key>
          <string>Bye</string>
          <key>message</key>
          <string>再见</string>
          <key>type</key>
          <string>1</string>
    </dict>
    <dict>
          <key>id</key>
          <string>58</string>
          <key>english</key>
          <string>Very boring</string>
          <key>message</key>
          <string>好无聊</string>
          <key>type</key>
          <string>1</string>
    </dict>
    <dict>
          <key>id</key>
          <string>59</string>
          <key>english</key>
          <string>Hello, new friend</string>
          <key>message</key>
          <string>你好，新朋友</string>
          <key>type</key>
          <string>1</string>
    </dict>
    <dict>
          <key>id</key>
          <string>60</string>
          <key>english</key>
          <string>Hi</string>
          <key>message</key>
          <string>hi</string>
          <key>type</key>
          <string>1</string>
    </dict>
    <dict>
          <key>id</key>
          <string>61</string>
          <key>english</key>
          <string>Hello, handsome guy.</string>
          <key>message</key>
          <string>你好，帅哥。</string>
          <key>type</key>
          <string>1</string>
    </dict>
    <dict>
          <key>id</key>
          <string>62</string>
          <key>english</key>
          <string>yes</string>
          <key>message</key>
          <string>是</string>
          <key>type</key>
          <string>1</string>
    </dict>
    <dict>
          <key>id</key>
          <string>63</string>
          <key>english</key>
          <string>Hello.</string>
          <key>message</key>
          <string>你好</string>
          <key>type</key>
          <string>1</string>
    </dict>
    <dict>
          <key>id</key>
          <string>64</string>
          <key>english</key>
          <string>Glad to meet you</string>
          <key>message</key>
          <string>很高兴认识你</string>
          <key>type</key>
          <string>1</string>
    </dict>
    <dict>
          <key>id</key>
          <string>65</string>
          <key>english</key>
          <string>Who are you? I forgot to prepare a note</string>
          <key>message</key>
          <string>你是谁啊？我忘了备注了</string>
          <key>type</key>
          <string>1</string>
    </dict>
    <dict>
          <key>id</key>
          <string>66</string>
          <key>english</key>
          <string>Okay</string>
          <key>message</key>
          <string>恩</string>
          <key>type</key>
          <string>1</string>
    </dict>
    <dict>
          <key>id</key>
          <string>67</string>
          <key>english</key>
          <string>OK!</string>
          <key>message</key>
          <string>好吧</string>
          <key>type</key>
          <string>1</string>
    </dict>
    <dict>
          <key>id</key>
          <string>68</string>
          <key>english</key>
          <string>I don&apos;t know what to say</string>
          <key>message</key>
          <string>不知道说什么</string>
          <key>type</key>
          <string>1</string>
    </dict>
    <dict>
          <key>id</key>
          <string>69</string>
          <key>english</key>
          <string>Hi, I like to make friends</string>
          <key>message</key>
          <string>hi，我喜欢交朋友</string>
          <key>type</key>
          <string>1</string>
    </dict>
    <dict>
          <key>id</key>
          <string>70</string>
          <key>english</key>
          <string>You are active enough</string>
          <key>message</key>
          <string>你够主动</string>
          <key>type</key>
          <string>1</string>
    </dict>
    <dict>
          <key>id</key>
          <string>71</string>
          <key>english</key>
          <string>Wait a moment</string>
          <key>message</key>
          <string>稍等</string>
          <key>type</key>
          <string>1</string>
    </dict>
    <dict>
          <key>id</key>
          <string>72</string>
          <key>english</key>
          <string>Say something else!</string>
          <key>message</key>
          <string>说点别的！</string>
          <key>type</key>
          <string>1</string>
    </dict>
    <dict>
          <key>id</key>
          <string>73</string>
          <key>english</key>
          <string>I&apos;m eating, just a minute.</string>
          <key>message</key>
          <string>正在吃饭，稍等。</string>
          <key>type</key>
          <string>1</string>
    </dict>
    <dict>
          <key>id</key>
          <string>74</string>
          <key>english</key>
          <string>I am in the beauty, not convenient.</string>
          <key>message</key>
          <string>我在美容，不方便。</string>
          <key>type</key>
          <string>1</string>
    </dict>
    <dict>
          <key>id</key>
          <string>75</string>
          <key>english</key>
          <string>After finishing you back.</string>
          <key>message</key>
          <string>忙完后回你。</string>
          <key>type</key>
          <string>1</string>
    </dict>
    <dict>
          <key>id</key>
          <string>76</string>
          <key>english</key>
          <string>Hi!</string>
          <key>message</key>
          <string>嗨!</string>
          <key>type</key>
          <string>1</string>
    </dict>
    <dict>
          <key>id</key>
          <string>77</string>
          <key>english</key>
          <string>Haaaaiiii</string>
          <key>message</key>
          <string>Haaaaiiii</string>
          <key>type</key>
          <string>1</string>
    </dict>
    <dict>
          <key>id</key>
          <string>78</string>
          <key>english</key>
          <string>Hey!!!: D</string>
          <key>message</key>
          <string>嘿! ! !:D</string>
          <key>type</key>
          <string>1</string>
    </dict>
    <dict>
          <key>id</key>
          <string>79</string>
          <key>english</key>
          <string>Where are you?</string>
          <key>message</key>
          <string>你好在哪里</string>
          <key>type</key>
          <string>1</string>
    </dict>
    <dict>
          <key>id</key>
          <string>80</string>
          <key>english</key>
          <string>Hey, hey</string>
          <key>message</key>
          <string>嘿,嘿</string>
          <key>type</key>
          <string>1</string>
    </dict>
    <dict>
          <key>id</key>
          <string>81</string>
          <key>english</key>
          <string>Hi.</string>
          <key>message</key>
          <string>嗨。</string>
          <key>type</key>
          <string>1</string>
    </dict>
    <dict>
          <key>id</key>
          <string>82</string>
          <key>english</key>
          <string>Boring...</string>
          <key>message</key>
          <string>无聊的…</string>
          <key>type</key>
          <string>1</string>
    </dict>
    <dict>
          <key>id</key>
          <string>83</string>
          <key>english</key>
          <string>You are handsome</string>
          <key>message</key>
          <string>你好帅</string>
          <key>type</key>
          <string>1</string>
    </dict>
    <dict>
          <key>id</key>
          <string>84</string>
          <key>english</key>
          <string>Boring... Do you have a good time?</string>
          <key>message</key>
          <string>无聊的…你玩得开心吗?</string>
          <key>type</key>
          <string>1</string>
    </dict>
    <dict>
          <key>id</key>
          <string>85</string>
          <key>english</key>
          <string>Heylo:)</string>
          <key>message</key>
          <string>Heylo:)</string>
          <key>type</key>
          <string>1</string>
    </dict>
    <dict>
          <key>id</key>
          <string>86</string>
          <key>english</key>
          <string>Heeey</string>
          <key>message</key>
          <string>Heeey</string>
          <key>type</key>
          <string>1</string>
    </dict>
    <dict>
          <key>id</key>
          <string>87</string>
          <key>english</key>
          <string>Hello lover!?</string>
          <key>message</key>
          <string>你好情人! ?</string>
          <key>type</key>
          <string>1</string>
    </dict>
    <dict>
          <key>id</key>
          <string>88</string>
          <key>english</key>
          <string>I&apos;m sorry to trouble you to send me a picture of you first.</string>
          <key>message</key>
          <string>不好意思 麻烦先发一张你的照片给我看看</string>
          <key>type</key>
          <string>1</string>
    </dict>
    <dict>
          <key>id</key>
          <string>89</string>
          <key>english</key>
          <string>Not talking about sex</string>
          <key>message</key>
          <string>不聊和性有关的</string>
          <key>type</key>
          <string>1</string>
    </dict>
    <dict>
          <key>id</key>
          <string>90</string>
          <key>english</key>
          <string>Oh!</string>
          <key>message</key>
          <string>唉！</string>
          <key>type</key>
          <string>1</string>
    </dict>
    <dict>
          <key>id</key>
          <string>91</string>
          <key>english</key>
          <string>Chinese men do not disturb</string>
          <key>message</key>
          <string>中国籍男人请勿打扰</string>
          <key>type</key>
          <string>1</string>
    </dict>
    <dict>
          <key>id</key>
          <string>92</string>
          <key>english</key>
          <string>Not giving gifts not to reply</string>
          <key>message</key>
          <string>不送礼物不回复</string>
          <key>type</key>
          <string>1</string>
    </dict>
    <dict>
          <key>id</key>
          <string>93</string>
          <key>english</key>
          <string>Do you have a Facebook?</string>
          <key>message</key>
          <string>你有facebook吗？</string>
          <key>type</key>
          <string>1</string>
    </dict>
    <dict>
          <key>id</key>
          <string>94</string>
          <key>english</key>
          <string>Facebook?</string>
          <key>message</key>
          <string>facebook？</string>
          <key>type</key>
          <string>1</string>
    </dict>
    <dict>
          <key>id</key>
          <string>95</string>
          <key>english</key>
          <string>The response of the time difference is not timely</string>
          <key>message</key>
          <string>时差关系  回复不能及时</string>
          <key>type</key>
          <string>1</string>
    </dict>
    <dict>
          <key>id</key>
          <string>96</string>
          <key>english</key>
          <string>Please leave a message for something</string>
          <key>message</key>
          <string>有事请留言</string>
          <key>type</key>
          <string>1</string>
    </dict>
    <dict>
          <key>id</key>
          <string>97</string>
          <key>english</key>
          <string>I will respond to a photo message.</string>
          <key>message</key>
          <string>发照片 留言 我会选择性回复</string>
          <key>type</key>
          <string>1</string>
    </dict>
    <dict>
          <key>id</key>
          <string>98</string>
          <key>english</key>
          <string>Take a picture of it first</string>
          <key>message</key>
          <string>先发张照片看看</string>
          <key>type</key>
          <string>1</string>
    </dict>
    <dict>
          <key>id</key>
          <string>99</string>
          <key>english</key>
          <string>No photos do not reply</string>
          <key>message</key>
          <string>没有照片不回复</string>
          <key>type</key>
          <string>1</string>
    </dict>
    <dict>
          <key>id</key>
          <string>100</string>
          <key>english</key>
          <string>Why do you want to talk and talk to me</string>
          <key>message</key>
          <string>为什么要找我聊天 说说</string>
          <key>type</key>
          <string>1</string>
    </dict>
</array>
</plist>