<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<string>1</string>
		<key>message</key>
		<string>你是谁</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>id</key>
		<string>2</string>
		<key>message</key>
		<string>今夜要谁主宰我们的世界.mp3</string>
		<key>type</key>
		<string>2</string>
	</dict>
	<dict>
		<key>id</key>
		<string>3</string>
		<key>message</key>
		<string>1/Enclosure/S1.jpg</string>
		<key>type</key>
		<string>3</string>
	</dict>
	<dict>
		<key>id</key>
		<string>4</string>
		<key>message</key>
		<string>习惯了想你.mp3</string>
		<key>type</key>
		<string>2</string>
	</dict>
	<dict>
		<key>id</key>
		<string>5</string>
		<key>message</key>
		<string>1</string>
		<key>type</key>
		<string>4</string>
	</dict>
	<dict>
		<key>id</key>
		<string>6</string>
		<key>message</key>
		<string>你在吗？你好，能唱首歌曲给我听吗？能唱首歌曲给我听吗？能唱首歌曲给我听吗？唱首歌曲给我听吗？能唱首歌曲给我听吗？能唱首歌曲给我听吗？唱首歌曲给我听吗？唱首歌曲给我听吗？</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>id</key>
		<string>7</string>
		<key>message</key>
		<string>言不由衷.mp3</string>
		<key>type</key>
		<string>2</string>
	</dict>
	<dict>
		<key>id</key>
		<string>8</string>
		<key>message</key>
		<string>2/Enclosure/S1.jpg</string>
		<key>type</key>
		<string>3</string>
	</dict>
	<dict>
		<key>id</key>
		<string>9</string>
		<key>message</key>
		<string>3/Enclosure/S1.jpg</string>
		<key>type</key>
		<string>3</string>
	</dict>
	<dict>
		<key>id</key>
		<string>10</string>
		<key>message</key>
		<string>你好，认识一下</string>
		<key>type</key>
		<string>1</string>
	</dict>
</array>
</plist>
